[submodule "synthkit"]
	path = synthkit
	url = git@github.com:kjcjohnson/synthkit.git
[submodule "frangel-for-semgus"]
	path = frangel-for-semgus
	url = git@github.com:kjcjohnson/frangel-for-semgus.git
[submodule "ks2"]
	path = ks2
	url = git@github.com:kjcjohnson/ks2.git
[submodule "kale"]
	path = kale
	url = git@github.com:kjcjohnson/kale.git
[submodule "tdp-synthesis"]
	path = tdp-synthesis
	url = git@github.com:kjcjohnson/tdp-synthesis.git
[submodule "plugboard"]
	path = plugboard
	url = git@github.com:duck-systems/plugboard.git
[submodule "ks2-bue"]
	path = ks2-bue
	url = git@github.com:duck-systems/ks2-bue.git
